@import "tailwindcss";
/* yatra+one font */
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

/* custom font */
.yatraOne {
    font-family: "Yatra One", system-ui;
}


/* navbar navLink css */
.navbarClass {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 4px;
}

/* banner btn css */
.bannerBtn{
    background-color: #E6F3FF;
    padding: 4px 16px;
    border-radius: 12px;
}


/* Custom Scrollbar Style */
::-webkit-scrollbar {
  width: 8px; /* scrollbar er width */
}

/* scrollbar background (track) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* background color */
}

/* scrollbar thumb (scroll korar part) */
::-webkit-scrollbar-thumb {
  background: #0062FF; /* change color here */
  /* border-radius: 10px; round shape */
}

/* hover korle thumb color change hobe */
::-webkit-scrollbar-thumb:hover {
  background: #e66f00;
}
